.App {
  text-align: center;
  display: flex;
}

.sections {
  height: 93vh;
  padding-top: 10vh;
  width: 100vw;
}

.logo {
  flex: 1;
  left: 0;
}

.section-container.in-transition {
  transition: transform 900ms ease;
}

#BigTitle {
  background-color: #000;
  color: white;
}

#AboutUs {
  background-color: #faa;
  color: #777;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
